@font-face {
    font-family: "CeraRoundPro";
    src: url("./assets/fonts/CeraRoundPro-Medium.otf") format(opentype);
    font-style : normal;  
    font-weight : 500;
   }
@font-face {
    font-family: "CeraRoundPro";
    src: url("./assets/fonts/CeraRoundPro-Regular.otf") format(opentype);
    font-style : normal;  
    font-weight : 400;
   }
@font-face {
    font-family: "CeraRoundPro";
    src: url("./assets/fonts/CeraRoundPro-Bold.otf") format(opentype);
    font-style : normal;  
    font-weight : bold; 
   }
@font-face {
    font-family: "OpenSans";
    src: url("./assets/fonts/OpenSans-Regular.woff") format(woff);
    font-style : normal;  
   }

h1, h2, button{
    font-family: "CeraRoundPro", sans-serif;
    line-height: 150%;

}
p, span, a, li{
    font-family: "OpenSans", sans-serif;
}
.banner h1{
    font-size: 30px; 
    font-weight: bold;
    letter-spacing: 2px;

 }
.banner li{
   font-size: 16px; 
   line-height: 200%;
   letter-spacing: 1px;
}

.slider h2{
    font-size: 28px;
    font-weight: 500;
}